{% extends "index.html" %}

{% block keywords %}
<meta name="keywords" content="Trebetherick, Museum">{% endblock keywords %}

{% block header %}
<div class="hero hero-home col center" style="background-image: url(/banner.jpg); min-height: 40vh;">
    <h1>Trebetherick Museum</h1>
</div>
{% endblock header %}

{% block extrahead %}
{% endblock extrahead %}

{% block content %}

<main class="container mx-auto my-5">
<div class="content px-3">
  <blockquote class="blockquote border-start border-5 border-primary ps-3">
<p>This is a residents’-made archive of the history of Trebetherick (Cornish: <em>Trebedrek</em>), a village on the east side of the River Camel estuary in Cornwall.</p>
<p>Browse the sections above, search the site, or check out the timeline below.</p>
<hr>
<p>If you have information, and/or photographs that you would like to submit for preservation in the Trebetherick Museum, <a href="mailto:contact@trebetherick.net">please email it all to us at contact@trebetherick.net</a></p>
<p>Please include as much information as possible about every submission.</p>
<p>Please submit your photos in as high a quality as you can, original resolution ideally, and be aware that apps like WhatsApp reduce the quality of photos (ask for originals by email, if you have been sent photos through WhatsApp).</p>
<hr>
<img src="greenaway.jpg" width="50%" class="rounded d-block">
</blockquote>
</div>
  
  

    </main>

{% endblock content %}
